@media screen and (max-width: 768px) {
  .custom-mobile-borders{
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  
}
.font-mobile-size{
  font-size: 28px;
}

/* .custom-mobile-text-container-center{
  position: absolute;
    top: 19%;
    left: 16%; 
} */

}
@media screen and (max-width: 770px) {
  .custom-mobile-text-container-center{
    padding: 130px; 
  }

}